.banner{
    background: $primary;
    height: 500px;
    position: relative;
    @include rwd($rwd-lg){
      height: 650px;
    }
  &-text{
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: FadeOut 8s forwards;
    @include rwd($rwd-md){
      font-size: 1.25rem;
    }
  }
  &-cta-icon{
    position: absolute;
    bottom: 0;
    right: -5%;
    font-size: 1.75rem;
    animation: upAndDown 1s infinite;
  }
}
.index-menu{
  opacity: 0;
  animation: FadeIn 3s 3s forwards;
  &-img{
    width: 800px;
    height: 500px; // 300px;
    object-fit: cover;
    opacity: 0.7;
    transition: opacity 0.75s, width 1s ease-in-out;
    @include rwd($rwd-lg){
      height: 600px // 400px;
    }
    &:hover, &:active, &:focus{
      width: 1200px;
      opacity: 1;
    }
  }
  &-title{
    position: absolute;
    bottom: 5%;
    left: 10%;
    color: $white;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 0 3px 5px $gray-dark;
    @include rwd($rwd-md){
      font-size: 1.5rem;
    }
  }
}
.index-takeout{
    &-img{
        width: 100%;
        height: 280px;
        object-fit: cover;
        @include rwd($rwd-lg){
            height: 300px;
        } 
    }
    &-text{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 280px;
        opacity: 0;
        font-size: 2rem;
        color: $secondary-light;
        transition: opacity 0.8s;
        @include rwd($rwd-lg){
            height: 300px;
        }
        &:hover, &:active, &:focus{
            background: darken($secondary, 10%);
            opacity: 1;
        }
    }
}

@keyframes FadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes FadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@keyframes upAndDown{
  50% {
    bottom: 3%
  }
}