.bg-menu{
  position: absolute;
  z-index: -1;
  opacity: 0.75;
  > svg{
    width: 100vw;
    height: 300px;
    @include rwd($rwd-lg){
      height: 450px;
    }
  }
}
.menu-list{
  overflow-x: scroll;
  width: 100%;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  @include rwd($rwd-sm){
    overflow: hidden;
    width: auto;
  }
}