.list-item{
  margin-bottom: 3.5rem;
  &-title{
    font-size: 1.25rem;
    color: $gray-dark;
    padding: 1rem 0;
    border-bottom: 1px solid $gray-light;
    &:hover{
      cursor: pointer;
    }
  }
  > .active{
    padding: 1rem 1.875rem;
    background: $gray-light;
  }
}