.navbar{
    background: $primary;
    color: $white;
    padding: 0 1.875rem;
    position: sticky;
    top: 0;
    z-index: 100;
    @include rwd($rwd-md){
        padding: 2.5rem 1.875rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @include rwd($rwd-lg){
        padding: 1.875rem 1.875rem;
    }
    &-item{
        padding: .5rem 0;
        text-align: center;
        &:first-child {
            padding-left: 0;
        }
        @include rwd($rwd-md){
            width: auto;
            padding: 0 2rem;
        }
    } 
    &-link{
        color: $white;
        &:hover{
            color: darken($secondary, 10%);
        }
    }   
}
.nav{
    border: 1px solid $gray-light;
    border-radius: .25rem;
    &-item{
        &:hover{
            color: $white;
            background: lighten($secondary, 10%);
            border-radius: none;
        }
        &:first-child {
            border-radius: .25rem .25rem 0 0;
        }
        &:last-child {
            border-radius: 0 0 .25rem .25rem;
        }
    }
    &-link{
        padding: .5rem .25rem;
        color: $gray-dark;
        &:hover{
            color: $white;
        }
    }
    > .active{
        background: lighten($secondary, 5%);
        > .nav-link{
            color: $white;
        }
    }
}