.navbar{
  background: $primary;
  color: $white;
  padding-top: .5rem;
  padding-bottom: .5rem;
  position: sticky;
  top: 0;
  z-index: 100;
  @include rwd($rwd-md){
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  @include rwd($rwd-lg){
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &-item{
    padding: .5rem 0;
    text-align: center;
    &:first-child {
      padding-left: 0;
    }
    @include rwd($rwd-md){
      width: auto;
      padding: 0 1.25rem;
    }
    @include rwd($rwd-lg){
      width: auto;
      padding: 0 2rem;
    }
  } 
  &-link{
    color: $white;
    &:hover{
      color: darken($secondary, 10%);
    }
  }   
}
.nav{
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  &-item{
    margin-left: .5rem;
  }
  &-link{
    background: rgba($white, .7);
    padding: 1.5rem .5rem;
    color: $gray-dark;
    position: relative;
    top: 0px;
    &:hover{
      color: $secondary;
      font-weight: bold;
      background: $white;
      top: -8px;
    }
    @include rwd($rwd-md){
      padding: 1.75rem .75rem;
    }
    @include rwd($rwd-lg){
      font-size: $font-base-size * 1.25;
    }
  }
  > .active{
    > .nav-link{
      color: darken($secondary, 15%);
      font-weight: bold;
    }
  }
}